---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Pleasanton Commercial Group. All rights reserved.
	<p>Call us today at (512) 426-4579.</p>
	<div class="social-links">
		<a href="https://www.linkedin.com/company/pleasanton-commercial-group/" target="_blank">
			<span class="sr-only">Follow PCG on LinkedIn</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/linkedin">
				<path
					fill="currentColor"
					d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
				></path>
			</svg>
		</a>
		<a href="https://www.facebook.com/61586308671476" target="_blank">
			<span class="sr-only">Follow PCG on Facebook</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/facebook">
				<path
					fill="currentColor"
					d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
				></path>
			</svg>
		</a>
		<a href="https://www.x.com/pleasantoncg" target="_blank">
			<span class="sr-only">Follow PCG on Twitter</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/x">
				<path
					fill="currentColor"
					d="M9.253 6.758l5.447-6.33h-1.291L8.68 5.927 4.908.428H.542l5.713 8.314-5.713 6.641h1.291l5.011-5.823 4.026 5.823h4.366L9.252 6.758h.001zm-1.77 2.055l-.579-.828-4.596-6.574h1.983l3.703 5.298.579.828 4.821 6.897h-1.983L7.483 8.813z"
				></path>
			</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
